<h1 style="text-align: center; font-family:initial">
    My {{restaurants.length}} Restaurants
</h1>

<section>
    <div class="container">
        <div class="row">
            {{#each restaurants}}
                <div class="col-md-3">
                    <div class="card" >
                        <img  style="width:260px; height: 200px; object-fit: cover;" src="{{this.imageLink}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 style="text-align: center;" class="card-title">{{this.name}}</h5>
                            <div style="text-align: center;" class="btn-group" role="group" aria-label="Basic mixed styles example">
                               <a onclick="callDelete({{this.id}})" href="" ><button type="button" class="btn btn-danger">Delete</button> </a>
                               
                               <a href="http://localhost:3000/updateRestaurant/{{this.id}}" ><button type="button" class="btn btn-warning">Update</button> </a>
                               
                               <a href="http://localhost:3000/restaurants/{{this.id}}"><button type="button" class="btn btn-success">Menus</button></a>
                                </div>
                            {{!-- <p class="card-text">{{this.id}}  <a href="http://localhost:3000/restaurants/{{this.id}}"><button href style="margin-left: 72px;" type="button" class="btn btn-success">View Restaurant</button></a></p>
                           --}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

        <script>
        function callDelete(restaurantId) {
            const fullURL = "/restaurants/" + restaurantId;
            fetch(fullURL, { method: 'DELETE' })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                })
                .catch(function (err) {
                    console.error(err);
                });
        }
  
    </script>


</section>